/Backup
/bathrooms_boxplot.png
/bathrooms_histogram.png
/bedrooms_boxplot.png
/bedrooms_histogram.png
/correlation_matrix.png
/dbscan_clusters.png
/dbscan_price_boxplot.png
/elbow_plot.png
/geo_scatter.png
/kmeans_clusters.png
/kmeans_price_boxplot.png
/price_boxplot.png
/price_histogram.png
/Prompt.txt
/Rubric.txt
/square_feet_boxplot.png
/square_feet_histogram.png